# Serverless stuff
.serverless
*.log
npm-debug.log
pids
*.pid
*.seed
dist
lib-cov
coverage
.grunt
.lock-wscript
node_modules
.idea
.DS_Store
.tmp
.env
env.js
env.yml
env.json
admin.env
tmp
*.pyc
*.swp
*.swo

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# golang output binary directory
bin

# golang vendor (dependencies) directory
vendor